body {
  width: 100%;
  height: 94vh;
  background-color: #fff4e7;
  padding: 0;
  margin: 0;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #dfb97d #fff4e7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #fff4e7;
}

*::-webkit-scrollbar-thumb {
  background-color: #dfb97d;
  border-radius: 10px;
  border: 3px solid #fff4e7;
}

/* Estilo Geral do Header */
header {
  width: 100%;
  height: fit-content;
  background-color: #342623;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

/* Estilo do Logotipo e Título */
#TituloLogoDiv {
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Kawi", sans-serif;
  text-decoration: none;
  font-size: 1vw;
}

#TituloLogoDiv > div > p {
  font-family: "Hammersmith One", sans-serif;
  font-weight: normal;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 1vw;
  line-height: 1vw;
  width: 60%;
}

#TituloLogoDiv > img {
  width: 3vw;
  height: 15%;
  object-fit: fill;
  margin: 1px;
}

/* Estilo do Menu Hover (Parece não estar sendo usado) */
#menuHover {
  display: none;
  position: absolute;
}

/* Estilo da Lista de Menu no Cabeçalho */
#MenuHeader {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: normal;
}

/* Estilos dos Botões e Ícones */
hr {
  margin: 0;
  background-color: #226104;
  border: solid #226104;
  height: 0.3vh;
}

.MHli {
  color: white;
}

.MHli > p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.MHliSvg {
  width: fit-content;
  height: fit-content;
}

.MHliSvg > a {
  width: fit-content;
  height: fit-content;
}

.MHliS {
  margin-inline: 3%;
}

#IconLoc {
  object-fit: none;
  height: 1.9vh;
  object-fit: cover;
}

#locDiv {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.MhliBotao {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1vw;
}

.MhliBotao:hover {
  transition: all 500ms ease 0s;
  cursor: pointer;
}

.MhliBotao::after {
  content: "";
  display: block;
  background-color: transparent;
  border-bottom: #f0ad4a solid 3px;
  width: 0;
  transition: all 500ms ease 0s;
  margin-top: 0;
}

.MhliBotao:hover::after {
  width: 100%;
  content: "";
  display: block;
}

.MhliBotao:active {
  transition: all 100ms ease 0s;
  color: rgb(255, 201, 99);
}

.MhliBL:hover {
  cursor: pointer;
}

/* Estilo do Submenu (HoverMenu) */
.HoverMenu {
  list-style: none;
  position: absolute;
  display: none;
  background-color: #342623;
  width: 3vw;
  color: white;
  border-radius: 15px;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  padding: 1%;
  margin-top: 0.5vh;
  border: 3px solid green;
  font-size: 0.6vw;
}

/* Exibição do Submenu ao passar o mouse no botão */
.HoverMenuB:hover + .HoverMenu {
  animation: HoMa 300ms ease 0s;
  opacity: 1;
  visibility: visible;
  display: block;
  transition-delay: 0s;
}

/* Exibição do Submenu ao passar o mouse diretamente no submenu */
.HoverMenu:hover {
  display: block;
  opacity: 1;
}

/* Estilos para Links no Submenu (HvmA) */
.HvmA::after {
  margin-top: 0px;
  content: "";
  display: block;
  background-color: transparent;
  border-bottom: rgb(248, 204, 8) solid 2px;
  width: 0;
  transition: all 500ms ease 0s;
}

.HvmA:hover::after {
  width: 100%;
  content: "";
  display: block;
}

.HvmA {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans Kawi", sans-serif;
  margin-bottom: 0px;
}

.HvmA:hover {
  transition: all 1s ease 0s;
  color: rgb(255, 185, 127);
}

/* Animação do Submenu (HoMa) */
@keyframes HoMa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

/* LOGIN DIV */
#Area1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

#LoginArea {
  font-family: "Noto Sans Kawi", sans-serif;
  background-color: #342623;
  color: white;
  width: 20vw;
  height:fit-content;
  padding: 0;
  border: 0.2vw solid #f0ad4a;
  border-radius: 1vw;
}

#LoginArea > h1{
    height: fit-content;
    margin-block-end: 0;
    margin-block-start: 0.5vh;
    text-align: center;
    font-size: 2vw;
}

.Spanlogin {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
}

.Spanlogin >input{
    height: 2vh;
    width: 65%;
    border-radius: 1vw;
    border: 0.2vw solid #f0ad4a;
    padding-left: 4%;
}

.Spanlogin > h3 {
  margin-right: 2%;
  margin-block-end: 0;
  margin-block-start: 0;
  text-align: center;
  font-size: 1vw;
}

#inputA3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    margin-left: 4%;
}

.BtLogin{
    width: 3vw;
    height: 2vh;
    background-color: #226104;
    color: white;
    border-radius: 1vw;
    border: 0;
}

.BtLogin:hover{
    transition: all 100ms ease-in 0s;
    border: 0.1vw double #dfb97d;
    cursor: pointer;
}

.BtLogin:active{
    transition: all 1ms ease-in 0s;
    background-color: #39a806;
}


#Ess{
    color: white;
    margin-left: 3%;
}

#Ess:hover{
    color: #dfb97d;
}

/* LOGIN DIV */
