body {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: 100vh;
  background: rgb(57, 0, 96);
  background: linear-gradient(
    45deg,
    rgba(57, 0, 96, 1) 0%,
    rgb(0, 89, 139) 50%,
    rgba(132, 147, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

#BotaoCabeçario {
  background-color: rgb(46, 46, 46);
  color: white;
  height: fit-content;
  width: 250px;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
}

ul {
  list-style: none;
  position: absolute;
  display: none;
  background-color: rgb(32, 32, 32);
  width: 15vw;
  color: white;
  border-radius: 5%;
  margin-top: 0;
  opacity: 0;
  transition: opacity 1s ease-in 0s;
}

#BotaoCabeçario:hover {
  transition: all 0.5s ease 0s;
  letter-spacing: 2px;
  color: aqua;
}

#BotaoCabeçario:not(:hover){
  transition: all 0.5s ease-out 0s;
}

#BotaoCabeçario:hover + ul {
  animation: HoMa 1s ease 0s;
  opacity: 1;
  display: block;
}

ul:hover{
  display: block;
  opacity: 1;
}

 @keyframes HoMa {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 100%;
  }
}
